.fa-th,
.fa-newspaper-o {
  font-size: x-large;
  position: relative;
  left: 10px;
  top: 6px;
  cursor: pointer;
  &:hover {
    color: #1cb00b;
  }
}
.add-to-cart-btn {
  text-align: center;
  background-color: #1cb00b;
  color: #fff;
  font-weight: bold;
  font-size: larger;
}

.cart-btn {
  width: 100%;
}
